{% set total_pages = (total_elements / elements_for_pages)|round(0, 'ceil') %}
{% set params = root_params is defined ? root_params : {} %}
{% set root_name = root_name is defined ? root_name : app.request.attributes.get('_route') %}


{% if total_pages > 1 %}
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item {{ actual_page == 1 ? 'disableb' }}">
                <a class="page-link"
                    href="{{
                        path(root_name,
                            {
                                page: actual_page - 1 < 1 ? 1 : actual_page - 1
                            }|merge(params)
                        )
                    }}">
                    <span>&laquo;</span>
                    <span>Before</span>
                </a>
            </li>

            {% for i in 1..total_pages %}
                <li class="page-item {{ actual_page == i ? 'active' }}">
                    <a class="page-link"
                        href="{{
                            path(root_name,
                                {
                                    page:i 
                                }|merge(params)
                            )
                        }}">
                        <span>{{ i }}</span>
                    </a>
                </li>
            {% endfor %}

            <li class="page-item {{ actual_page == total_pages ? 'disableb' }}">
                <a class="page-link"
                    href="{{
                        path(root_name,
                            {
                                page: actual_page + 1 <= total_pages ? actual_page + 1 : actual_page
                            }|merge(params)
                        )
                    }}">
                    <span>Next</span>
                    <span>&raquo;</span>
                </a>
            </li>
        </ul>
{% endif %}